@model MVCSTOK.Models.Entity.TBLURUNLER
@{
    ViewBag.Title = "YeniUrun";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Ürün Adı</label>
        <input type="text" class="form-control" name="URUNAD" required=""/>
    </div>
    <div>
        <label>Kategori Seçiniz</label>
        @Html.DropDownListFor(m => m.URUNKATEGORI,
       (List<SelectListItem>) ViewBag.dgr, new {@class="form-control"})
    </div>
    <div>
        <label>Marka</label>
        <input type="text" class="form-control" name="MARKA" required=" "/>
    </div>
    <div>
        <label>Fiyat</label>
        <input type="text" class="form-control" name="FIYAT" />
    </div>
    <div>
        <label>Stok</label>
        <input type="text" class="form-control" name="STOK" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-primary">Yeni Ürün Ekle</button>
    </div>
</form>

